<!DOCTYPE html>
<html lang="es" ng-app="nuevoSega">
<head>
  <title>SEGA</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  
  <link rel="manifest" href="manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#796699">
  <link rel="apple-touch-icon" href="https://sega.uach.mx/assets/favicon-c16bfa3110b0ecbe5c7e9d6e254ddcaa0f3f1898005f0ac17ab90c1aa40f5472.png">

  <link rel="stylesheet" media="all" href="https://sega.uach.mx/assets/application-ece7ac12c107ffb6f34f277e0388426526a1129a59d002da078f1805f904106d.css" />
  <script src="https://sega.uach.mx/assets/application-d0e9eb48f7d65f7e30d4f553d2d72995e43aeb042df8f076105533eb9f0e86fe.js"></script>

  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="ohLi6CjZtVt3HHVeniz40MaBGNzrENhgbMwj+65AFBG9Z4h1JsoUYJUymdM3uAUz9E6Dk9QIEP8hbcEeYjAHSg==" />
  <link rel="shortcut icon" type="image/x-icon" href="https://sega.uach.mx/assets/favicon-c16bfa3110b0ecbe5c7e9d6e254ddcaa0f3f1898005f0ac17ab90c1aa40f5472.png" />

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
  <script src="https://unpkg.com/popper.js@1"></script>
  <script src="https://unpkg.com/tippy.js@5"></script>
</head>

<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo" ng-controller="layoutController">

<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner">
    <div class="page-logo">
      <a href="index.html" onclick="window.location.href='index.html'; return false;"><img class="logo-default" src="https://sega.uach.mx/assets/logo-uach-0dd6a98220ea3bdd801c171fa0685d37288eff4ab858a0917f7110474ffdd7d3.svg" /></a>
      <div class="menu-toggler sidebar-toggler"></div>
    </div>
    <a aria-controls="sidebar" aria-expanded="false" class="menu-toggler responsive-toggler hidden-xs hidden-sm" data-target="#sidebar" data-toggle="collapse" href="javascript:;"></a>

    <div class="page-actions">
      <div class="btn-group">
          <button type="button" class="btn purple-plum btn-sm botonHeaderPrimario" onclick="window.location.href='index.html'">
            <i class="fas fa-angle-double-down"></i>
            <span id="programaTopBar">PROGRAMA: LICENCIATURA EN ESTOMATOLOGIA </span>
          </button>
      </div>
    </div>
    <div class="page-top" id="topWeb">
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown dropdown-user dropdown-dark">
            <a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="javascript:;">
              <span class="username">
                RODRIGUEZ GERMAN OSCAR YRAM
              </span>
              <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <img style="height:100%;width:100%;" src="https://sega.uach.mx/assets/soporte_banner-a5fec7d4dfaf41980f527a162fff53765404c1192e1e698deca7e175906cb833.jpg" />
                <a href="http://soporte.uach.mx" target="_blank"><i class="fa fa-question"></i> Soporte UACH</a>
                <a ng-click="translatePage('en')" ng-hide="currentLanguage === 'en'"><i class="fa fa-globe"></i>Traducir</a>
                <a ng-click="translatePage('es')" ng-show="currentLanguage === 'en'"><i class="fa fa-globe"></i>Traducir</a>
              </li>
              <li id="logout"><a data-method="get" href="login.html" onclick="window.location.href='login.html'; return false;">
                  <i class="fa fa-times" aria-hidden="true"></i> Salir
                </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-top" id="topMovil">
    <ul class="nav navbar-nav pull-right">
      <li class="dropdown dropdown-user dropdown-dark" style="z-index: 9999;">
        <a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="javascript:;"><span class="username">RODRIGUEZ GERMAN OSCAR YRAM</span> 
        </a>
      </li>
    </ul>
    <div class="content">
      <nav>
        <input type="checkbox" id="hamburger1"/>
        <label for="hamburger1"></label>
          <ul class="nav-links" data-auto-scroll="true" data-keep-expanded="true" data-slide-speed="100">
            <li class="nav-item start active">
              <a class="nav-link nav-toggle" href="index.html" onclick="window.location.href='index.html'; return false;"><i class="icon-home" aria-hidden="true"></i>
                <span class="title">Inicio</span>
                <span class="arrow"></span>
              </a>
            </li>
            <li class="nav-item start">
              <a class="nav-link active nav-toggle" href="javascript:;"><i class="fa fa-bookmark" aria-hidden="true"></i>
                <span class="title">Consultas</span> <span class="selected"></span> <span class="arrow"></span></a>
              <ul class="sub-menu" style="display: none;">
                <li class="nav-item"><a class="nav-link nav-toggle" href="index.html" onclick="window.location.href='index.html'; return false;"><i class="fas fa-id-badge"></i><span class="title">Programas Educativos</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="kardex.html" onclick="window.location.href='kardex.html'; return false;"><i class="fas fa-book-reader"></i><span class="title">Kardex</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="horario.html" onclick="window.location.href='horario.html'; return false;"><i class="fas fa-clock"></i><span class="title">Horario</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="calificaciones.html" onclick="window.location.href='calificaciones.html'; return false;"><i class="fas fa-book-open"></i><span class="title">Calificaciones</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="faltas.html" onclick="window.location.href='faltas.html'; return false;"><i class="fa fa-area-chart"></i><span class="title">Faltas</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="horario_evaluaciones.html" onclick="window.location.href='horario_evaluaciones.html'; return false;"><i class="fas fa-comments"></i><span class="title">Horario de evaluaciones</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="materias_disponibles.html" onclick="window.location.href='materias_disponibles.html'; return false;"><i class="fas fa-book"></i><span class="title">Materias Disponibles</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="materias_por_cursar.html" onclick="window.location.href='materias_por_cursar.html'; return false;"><i class="fas fa-road"></i><span class="title">Materias por cursar</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="boleta.html" onclick="window.location.href='boleta.html'; return false;"><i class="fas fa-file"></i><span class="title">Boleta</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="documentacion.html" onclick="window.location.href='documentacion.html'; return false;"><i class="fas fa-file-invoice"></i><span class="title">Documentación</span></a></li>
              </ul>
            </li>
            <li class="nav-item start">
              <a class="nav-link nav-toggle" href="javascript:;"><i aria-hidden="true" class="fa fa-address-card"></i>
                <span class="title">Inscripciones</span> <span class="selected"></span> <span class="arrow"></span></a>
              <ul class="sub-menu" style="display: block;">
                <li class="nav-item"><a class="nav-link nav-toggle" href="horario_inscripcion.html" onclick="window.location.href='horario_inscripcion.html'; return false;"><i class="fas fa-calendar-alt"></i><span class="title">Horario de inscripción</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="preinscripcion.html" onclick="window.location.href='preinscripcion.html'; return false;"><i class="fa fa-cube"></i><span class="title">Preinscripción/Inscripción</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="demanda_materias.html" onclick="window.location.href='demanda_materias.html'; return false;"><i class="fa fa-plus-square"></i><span class="title">Demanda de materias</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="altas_bajas.html" onclick="window.location.href='altas_bajas.html'; return false;"><i class="fa fa-bar-chart"></i><span class="title">Altas-Bajas de Materias</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="baja_temporal.html" onclick="window.location.href='baja_temporal.html'; return false;"><i class="fa fa-user-minus"></i><span class="title">Baja Temporal</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="doble_titulacion.html" onclick="window.location.href='doble_titulacion.html'; return false;"><i class="fa fa-graduation-cap"></i><span class="title">Doble Titulación</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="cursos_especiales.html" onclick="window.location.href='cursos_especiales.html'; return false;"><i class="fa fa-book-open"></i><span class="title">Cursos Especiales</span></a></li>
              </ul>
            </li>
            <li class="nav-item start active"><a class="nav-link nav-toggle" href="https://pagosalumnos.uach.mx/" target="_blank"><i aria-hidden="true" class="fa fa-credit-card"></i><span class="title">Pagos Alumnos</span> <span class="selected"></span> <span class="arrow"></span></a></li>
            <li class="nav-item start active"><a class="nav-link nav-toggle" href="papeleria_impresion.html" onclick="window.location.href='papeleria_impresion.html'; return false;"><i class="fa fa-file-alt"></i><span class="title"> Papelería oficial (Emisión constancias)</span><span class="arrow"></span></a></li>
            <li class="nav-item start">
              <a class="nav-link nav-toggle" href="javascript:;"><i aria-hidden="true" class="fa fa-graduation-cap"></i>
                <span class="title">Titulaciones</span> <span class="selected"></span> <span class="arrow"></span></a>
              <ul class="sub-menu" style="display: none;">
                <li class="nav-item"><a class="nav-link nav-toggle" href="solicitud_titulacion.html" onclick="window.location.href='solicitud_titulacion.html'; return false;"><i class="fa fa-file-alt"></i><span class="title">Solicitud Titulación</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="estatus_titulacion.html" onclick="window.location.href='estatus_titulacion.html'; return false;"><i class="fa fa-cube"></i><span class="title">Estatus Titulación</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="impresion_titulo.html" onclick="window.location.href='impresion_titulo.html'; return false;"><i class="fa fa-file-download"></i><span class="title">Impresión de Titulo</span></a></li>
              </ul>
            </li>
            <li class="nav-item start">
              <a class="nav-link nav-toggle" href="javascript:;"><i aria-hidden="true" class="fa fa-info-circle"></i>
                <span class="title">Tutorías, Asesorías y Evaluación Docente</span> <span class="selected"></span><span class="arrow"></span></a>
              <ul class="sub-menu" style="display: none;">
                <li class="nav-item"><a class="nav-link nav-toggle" href="ficha_diagnostico.html" onclick="window.location.href='ficha_diagnostico.html'; return false;"><i class="fa fa-cube"></i><span class="title">Ficha de Diagnóstico</span></a></li>
                <li class="nav-item"><a class="nav-link nav-toggle" href="encuesta_satisfaccion.html" onclick="window.location.href='encuesta_satisfaccion.html'; return false;"><i class="fa fa-file-download"></i><span class="title">Encuesta de Satisfacción</span></a></li>
                <li class="nav-item start active"><a class="nav-link nav-toggle" href="evaluacion_docentes.html" onclick="window.location.href='evaluacion_docentes.html'; return false;"><i class="fa fa-address-book"></i><span class="title">Evaluación Docente</span></a></li>
                <li class="nav-item "><a class="nav-link nav-toggle" href="asesorias_academicas.html" onclick="window.location.href='asesorias_academicas.html'; return false;"><i class="fa fa-chalkboard-teacher"></i><span class="title">Asesorías Académicas</span></a></li>
              </ul>
            </li>
            <li class="nav-item start active"><a class="nav-link nav-toggle" href="carnet.html" onclick="window.location.href='carnet.html'; return false;"><i class="icon-home" aria-hidden="true"></i><span class="title">Carnet + Vida Universitaria</span><span class="arrow"></span></a></li>
            <li class="nav-item start active"><a class="nav-link nav-toggle" href="reservaciones.html" onclick="window.location.href='reservaciones.html'; return false;"> <i class="fa fa-calendar"></i><span class="title"> Reservaciones Curso:  Primeros Auxilios</span><span class="arrow"></span></a></li>
            <li class="nav-item start active"><a class="nav-link nav-toggle" href="https://campusvirtual.uach.mx/" target="_blank"><i aria-hidden="true" class="icon-screen-desktop"></i><span class="title">Campus Virtual</span> <span class="selected"></span><span class="arrow"></span></a></li>
            <li class="nav-item start"><a data-method="get" href="login.html" onclick="window.location.href='login.html'; return false;"><i class="fa fa-times" aria-hidden="true"></i> Salir</a></li>
            <li class="nav-item start active"><a class="nav-link nav-toggle" href="#"><span class="icon fa fa-user-graduate"></span><span class="title">Tutor: JOSE ALBERTO PEÑA FLORES PORTILLO</span><span class="selected"></span></a></li>
            <li class="nav-item start" onclick="window.open('http://soporte.uach.mx/', '_blank')"><a href="http://soporte.uach.mx/" class="nav-link nav-toggle" target="_blank"><img style="height:100%;width:100%;" src="https://sega.uach.mx/assets/soporte_banner-a5fec7d4dfaf41980f527a162fff53765404c1192e1e698deca7e175906cb833.jpg" /></a></li>
          </ul>
      </nav>
    </div>
  </div>
  </div>

<div class="clearfix"></div>
<div class="page-container" style="margin-top: 10px" >
  
  <div class="page-sidebar-wrapper">
    <div class="container">
      <button class="btn btn-primary text-center" id="menuMovil" style="margin-top: 20px;">Menu</button>
    </div>
    <div class="page-sidebar navbar-collapse collapse" id="sidebar">
        <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" data-auto-scroll="true" data-keep-expanded="true" data-slide-speed="100">
          <li class="nav-item start active"><a class="nav-link nav-toggle" href="datos_generales.html" onclick="window.location.href='datos_generales.html'; return false;"><i class="fa fa-user" aria-hidden="true"></i><span class="title">Datos Generales</span><span class="arrow"></span></a></li>
          <li class="nav-item start active"><a class="nav-link active nav-toggle" href="javascript:;"><i class="fa fa-bookmark" aria-hidden="true"></i><span class="title">Consultas</span> <span class="selected"></span> <span class="arrow"></span></a>
            <ul class="sub-menu" style="display: none;">
              <li class="nav-item"><a class="nav-link nav-toggle" href="index.html" onclick="window.location.href='index.html'; return false;"><i class="fas fa-id-badge"></i><span class="title">Programas Educativos</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="kardex.html" onclick="window.location.href='kardex.html'; return false;"><i class="fas fa-book-reader"></i><span class="title">Kardex</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="horario.html" onclick="window.location.href='horario.html'; return false;"><i class="fas fa-clock"></i><span class="title">Horario</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="calificaciones.html" onclick="window.location.href='calificaciones.html'; return false;"><i class="fas fa-book-open"></i><span class="title">Calificaciones</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="faltas.html" onclick="window.location.href='faltas.html'; return false;"><i class="fa fa-area-chart"></i><span class="title">Faltas</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="horario_evaluaciones.html" onclick="window.location.href='horario_evaluaciones.html'; return false;"><i class="fas fa-comments"></i><span class="title">Horario de evaluaciones</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="materias_disponibles.html" onclick="window.location.href='materias_disponibles.html'; return false;"><i class="fas fa-book"></i><span class="title">Materias Disponibles</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="materias_por_cursar.html" onclick="window.location.href='materias_por_cursar.html'; return false;"><i class="fas fa-road"></i><span class="title">Materias por cursar</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="boleta.html" onclick="window.location.href='boleta.html'; return false;"><i class="fas fa-file"></i><span class="title">Boleta</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="documentacion.html" onclick="window.location.href='documentacion.html'; return false;"><i class="fas fa-file-invoice"></i><span class="title">Documentación</span></a></li>
            </ul>
          </li>
          <li class="nav-item start active"><a class="nav-link nav-toggle" href="javascript:;"><i aria-hidden="true" class="fa fa-address-card"></i><span class="title">Inscripciones</span> <span class="selected"></span> <span class="arrow"></span></a>
            <ul class="sub-menu" style="display: block;">
              <li class="nav-item"><a class="nav-link nav-toggle" href="horario_inscripcion.html" onclick="window.location.href='horario_inscripcion.html'; return false;"><i class="fas fa-calendar-alt"></i><span class="title">Horario de inscripción</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="preinscripcion.html" onclick="window.location.href='preinscripcion.html'; return false;"><i class="fa fa-cube"></i><span class="title">Preinscripción/Inscripción</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="demanda_materias.html" onclick="window.location.href='demanda_materias.html'; return false;"><i class="fa fa-plus-square"></i><span class="title">Demanda de Materias</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="altas_bajas.html" onclick="window.location.href='altas_bajas.html'; return false;"><i class="fa fa-bar-chart"></i><span class="title">Altas-Bajas de Materias</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="baja_temporal.html" onclick="window.location.href='baja_temporal.html'; return false;"><i class="fa fa-user-minus"></i><span class="title">Baja Temporal</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="doble_titulacion.html" onclick="window.location.href='doble_titulacion.html'; return false;"><i class="fa fa-graduation-cap"></i><span class="title">Doble Titulación</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="cursos_especiales.html" onclick="window.location.href='cursos_especiales.html'; return false;"><i class="fa fa-book-open"></i><span class="title">Cursos Especiales</span></a></li>
            </ul>
          </li>
          <li class="nav-item start active"><a class="nav-link nav-toggle" href="https://pagosalumnos.uach.mx/" target="_blank"><i aria-hidden="true" class="fa fa-credit-card"></i><span class="title">Pagos Alumnos</span> <span class="selected"></span> <span class="arrow"></span></a></li>
          <li class="nav-item start active"><a class="nav-link nav-toggle" href="papeleria_impresion.html" onclick="window.location.href='papeleria_impresion.html'; return false;"><i aria-hidden="true" class="fa fa-file-alt"></i><span class="title">Papelería oficial (Emisión constancias)</span> <span class="selected"></span> <span class="arrow"></span></a></li>
          <li class="nav-item start active"><a class="nav-link nav-toggle" href="javascript:;"><span class="icon fa fa-graduation-cap"></span><span class="title">Titulaciones</span><span class="selected"></span></a>
            <ul class="sub-menu" style="display: none;">
              <li class="nav-item"><a class="nav-link nav-toggle" href="solicitud_titulacion.html" onclick="window.location.href='solicitud_titulacion.html'; return false;"><i class="fa fa-file-alt"></i><span class="title">Solicitud Titulación</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="estatus_titulacion.html" onclick="window.location.href='estatus_titulacion.html'; return false;"><i class="fa fa-cube"></i><span class="title">Estatus Titulación</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="impresion_titulo.html" onclick="window.location.href='impresion_titulo.html'; return false;"><i class="fa fa-file-download"></i><span class="title">Impresión de Título</span></a></li>
            </ul>
          </li>
          <li class="nav-item start active"><a class="nav-link nav-toggle" href="javascript:;"><span class="icon fa fa-info-circle"></span><span class="title">Tutorías, Asesorías y Evaluación Docente</span><span class="selected"></span></a>
            <ul class="sub-menu" style="display: none;">
              <li class="nav-item start active"><a class="nav-link nav-toggle" href="ficha_diagnostico.html" onclick="window.location.href='ficha_diagnostico.html'; return false;"><i class="fa fa-cube"></i><span class="title">Ficha de Diagnóstico</span></a></li>
              <li class="nav-item"><a class="nav-link nav-toggle" href="encuesta_satisfaccion.html" onclick="window.location.href='encuesta_satisfaccion.html'; return false;"><i class="fa fa-file-download"></i><span class="title">Encuesta de Satisfacción</span></a></li>
              <li class="nav-item "><a class="nav-link nav-toggle" href="evaluacion_docentes.html" onclick="window.location.href='evaluacion_docentes.html'; return false;"><i class="fa fa-address-book"></i><span class="title">Evaluación Docente</span></a></li>
              <li class="nav-item "><a class="nav-link nav-toggle" href="asesorias_academicas.html" onclick="window.location.href='asesorias_academicas.html'; return false;"><i class="fa fa-chalkboard-teacher"></i><span class="title">Asesorías Académicas</span></a></li>
            </ul>
          </li>
          <li class="nav-item start active"><a class="nav-link nav-toggle" href="carnet.html" onclick="window.location.href='carnet.html'; return false;"><i aria-hidden="true" class="fa fa-file-alt"></i><span class="title">Carnet + Vida Universitaria</span> <span class="selected"></span><span class="arrow"></span></a></li>
          <li class="nav-item start active"><a class="nav-link nav-toggle" href="reservaciones.html" onclick="window.location.href='reservaciones.html'; return false;"> <i class="fa fa-calendar"></i><span class="title">Reservaciones Curso: Primeros Auxilios</span> <span class="selected"></span><span class="arrow"></span></a></li>
          <li class="nav-item start active"><a class="nav-link nav-toggle" href="https://campusvirtual.uach.mx/" target="_blank"><i class="icon-screen-desktop"></i><span class="title">Campus Virtual</span></a></li>
          <li class="nav-item start active"><a class="nav-link nav-toggle" href="#"><span class="icon fa fa-user-graduate"></span><span class="title">Tutor: JOSE ALBERTO PEÑA FLORES PORTILLO</span><span class="selected"></span></a></li>
          <li class="nav-item start active"><a href="http://soporte.uach.mx/" class="nav-link nav-toggle" target="_blank"><img style="height:100%;width:100%;" src="https://sega.uach.mx/assets/soporte_banner-a5fec7d4dfaf41980f527a162fff53765404c1192e1e698deca7e175906cb833.jpg" /></a></li>
        </ul>
    </div>
  </div>
  <div class="page-content-wrapper">
    <style type="text/css">
      .card-category { width: 100%; height: auto; display: flex; flex-wrap: wrap; gap: 15px; margin-bottom: 20px; }
      .card-category .item { border-radius: 10px; width: calc(33.333% - 10px); min-width: 150px; height: 150px; display: flex; flex-direction: column; align-items: center; justify-content: center; position: relative; border: none; cursor: pointer; overflow: hidden; }
      @media (max-width: 767px) { .card-category .item { width: calc(50% - 10px); height: 120px; } .card-category .item .quantity { height: 40px !important; padding-top: 2px !important; } }
      .card-category .item i { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 80px; z-index: 0; opacity: 0.1; }
      .card-category .item .quantity { font-size: 22px; font-weight: bold; background: white; width: 85%; height: 40px; border-radius: 5px; text-align: center; padding-top: 5px; z-index: 1; }
      .card-category .item .card-category-title { margin-top: 15px; z-index: 1; font-size: 11px; font-weight: bold; text-align: center; padding: 0 5px; }
      .item-btn { display: flex; align-items: center; justify-content: flex-start !important; padding-left: 15px; background-color: #f8f9fa !important; border: 1px solid #ddd !important; height: 60px !important; width: 100% !important; margin-bottom: 10px; border-radius: 5px !important; }
      .item-btn.selected { outline: 2px solid #796699; background-color: white !important; }
      .item-btn .badge { background-color: white; border: 1px solid #ccc; font-size: 14px !important; margin-right: 15px; position: static !important; }
      .item-btn .item-text { font-weight: bold; text-align: left; }
      .table-auto-layout th { background-color: #f1f4f7; color: #333; font-weight: bold; }
    </style>

    <div class="page-content" ng-controller="CarnetCtrl" style="min-height: 1603px;">
      <div class="page-head" ng-init="init_index('', '')">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 bordered" style="padding-bottom: 15px;">
              <div class="display">
                <div class="number">
                  <div class="icon">
                    <i class="fa fa-calendar-check font-yellow"></i>
                  </div>
                  <h3 class="font-purple-sharp">
                    <span data-counter="counterup">Carnet + Vida Universitaria</span>
                  </h3>
                </div>
              </div>
              <div class="progress-info">
                <div class="progress">
                  <span style="width: 100%;" class="progress-bar progress-bar-success purple-sharp"></span>
                </div>
              </div>
              <div class="container-fluid col-md-12" style="display: contents;">
                <div class="note-info justify-content-center position-relative" style="margin-top: 15px; padding-left: 50px;">
                  <div class="icon-cont" style="position: absolute; left: 15px; top: 50%; transform: translateY(-50%); font-size: 24px;">
                    <i class="fa fa-exclamation-circle text-info"></i>
                  </div>
                  <div>
                    <span>
                      <h4 style="margin: 0; font-weight: bold;">Eventos Cumplidos</h4>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-12">
          <div class="card-category">
            <div class="item" style="background-color: #C7C7FF">
              <i class='fa fa-paint-brush' style='color: #6464da;'></i>
              <span class="quantity" style="color: rgba(149,149,255,1)">00 / 06</span>
              <div class="card-category-title"><span class="text text--1" style="color: rgba(149,149,255,1)">ACTIVIDAD ARTISTICA</span></div>
            </div>
            <div class="item" style="background-color: #F3BBE1">
              <i class='fa fa-flask' style='color: #d426a2;'></i>
              <span class="quantity" style="color: rgba(220,91,183,1)">02 / 06</span>
              <div class="card-category-title"><span class="text text--1" style="color: rgba(220,91,183,1)">ACTIVIDAD CIENTIFICO-FILOSOFICA</span></div>
            </div>
            <div class="item" style="background-color: #FCBCB2">
              <i class='fa fa-futbol-o' style='color: #d7381e;'></i>
              <span class="quantity" style="color: rgba(228, 96, 75 ,1)">00 / 06</span>
              <div class="card-category-title"><span class="text text--1" style="color: rgba(228, 96, 75 ,1)">ACTIVIDAD DEPORTIVA</span></div>
            </div>
            <div class="item" style="background-color: #FFD8BE">
              <i class='fa fa-rocket' style='color: #e78422;'></i>
              <span class="quantity" style="color: rgba(252,161,71,1)">00 / 08</span>
              <div class="card-category-title"><span class="text text--1" style="color: rgba(252,161,71,1)">HERRAMIENTAS PARA MI VIDA FUTURA</span></div>
            </div>
            <div class="item" style="background-color: #A9ECBF">
              <i class='fa fa-stethoscope' style='color: #0bab43;'></i>
              <span class="quantity" style="color: rgba(66,193,110,1)">00 / 06</span>
              <div class="card-category-title"><span class="text text--1" style="color: rgba(66,193,110,1)">SALUD</span></div>
            </div>
            <div class="item" style="background-color: #C7C7FF">
              <i class='fa fa-home' style='color: #0bab43;'></i>
              <span class="quantity" style="color: rgba(149,149,255,1)">00 / 06</span>
              <div class="card-category-title"><span class="text text--1" style="color: rgba(149,149,255,1)">APOYO A TU COMUNIDAD</span></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="portlet light bordered">
            <div class="portlet-title d-flex flex-column">
              <div class="caption">
                <span class="caption-subject sbold uppercase" style="color: #796699">Encuestas por responder:</span>
              </div>
              <div class="actions d-flex flex-column mt-3">
                <button class="item-btn" type="button">
                  <span class="badge" style="color: rgba(149,149,255,1)">0</span>
                  <span class="item-text" style="color: rgba(149,149,255,1)">ACTIVIDAD ARTISTICA</span>
                </button>
                <button class="item-btn" type="button">
                  <span class="badge" style="color: rgba(220,91,183,1)">0</span>
                  <span class="item-text" style="color: rgba(220,91,183,1)">ACTIVIDAD CIENTIFICO-FILOSOFICA</span>
                </button>
                <button class="item-btn" type="button">
                  <span class="badge" style="color: rgba(228, 96, 75 ,1)">0</span>
                  <span class="item-text" style="color: rgba(228, 96, 75 ,1)">ACTIVIDAD DEPORTIVA</span>
                </button>
                <button class="item-btn" type="button">
                  <span class="badge" style="color: rgba(252,161,71,1)">0</span>
                  <span class="item-text" style="color: rgba(252,161,71,1)">HERRAMIENTAS PARA MI VIDA FUTURA</span>
                </button>
                <button class="item-btn" type="button">
                  <span class="badge" style="color: rgba(66,193,110,1)">0</span>
                  <span class="item-text" style="color: rgba(66,193,110,1)">SALUD</span>
                </button>
                <button class="item-btn" type="button">
                  <span class="badge" style="color: rgba(149,149,255,1)">0</span>
                  <span class="item-text" style="color: rgba(149,149,255,1)">APOYO A TU COMUNIDAD</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="portlet light bordered">
            <div class="portlet-title">
              <div class="caption">
                <span class="caption-subject sbold uppercase" style="color: #796699">Eventos Registrados:</span>
              </div>
            </div>
            <div class="portlet-body pb-3 px-2" style="overflow-x: auto;">
              <table class="table table-light table-auto-layout table-striped">
                <thead>
                  <tr>
                    <th>Evento</th>
                    <th>Tipo</th>
                    <th>Clasificación</th>
                    <th>SubClasificación</th>
                    <th>Fecha de Asistencia</th>
                    <th>Estatus</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="hoverTable">
                    <td>FO. VOC. CIENT. TEMP. TV. SEMILLEROS DE INV. DR. ARREGUIN</td>
                    <td>ACTIVIDAD CIENTIFICO-FILOSOFICA</td>
                    <td>ODONTOLOGÍA</td>
                    <td>CONFERENCIA, PLÁTICA, CHARLA</td>
                    <td>25 / 11 / 2024</td>
                    <td><span class="label label-success">Asistencia</span></td>
                    <td style="font-weight: bold; text-align: center;">1</td>
                  </tr>
                  <tr class="hoverTable">
                    <td>FO. CONSECUENCIAS DEL USO DEL VAPEO Y EL TABACO</td>
                    <td>ACTIVIDAD CIENTIFICO-FILOSOFICA</td>
                    <td>SALUD PÚBLICA</td>
                    <td>CONFERENCIA / PLÁTICA / CHARLA</td>
                    <td>02 / 06 / 2025</td>
                    <td><span class="label label-success">Asistencia</span></td>
                    <td style="font-weight: bold; text-align: center;">1</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
        
        // FIX PARA MENÚ EN MÓVIL
        $(".nav-item > a.nav-toggle").on('click', function (e) {
            var sub = $(this).next(".sub-menu");
            if (sub.length > 0) {
                e.preventDefault(); 
                e.stopPropagation();
                if (sub.is(":visible")) {
                    sub.slideUp("fast"); 
                    $(this).parent().removeClass("open");
                } else {
                    sub.slideDown("fast"); 
                    $(this).parent().addClass("open");
                }
            }
        });
        
        // FIX PARA BOTONES DE ENCUESTAS
        const buttons = document.querySelectorAll('.item-btn');
        buttons.forEach(button => {
            button.addEventListener('click', () => {
                buttons.forEach(btn => btn.classList.remove('selected'));
                button.classList.add('selected');
            });
        });
    });
</script>

<style type=text/css>
    .page-sidebar-menu.page-sidebar-menu-hover-submenu li:focus > .sub-menu {
        display: inline-block !important;
    }
</style>

<div class="page-footer">
  <div class="page-footer-inner">
    2026 © Powered by <a href="www.uach.mx" target="_blank">Universidad Autónoma de Chihuahua</a>
  </div>
  <div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
  </div>
</div>
</body>
</html>